/* border redius */
.sample-img-1 {
    border-radius: 25px;
}
.sample-img-2 {
    border-radius: 150px;
}
.sample-img-3 {
    border-radius: 0 150px 0 150px;
}
.sample-img-4 {
    border-radius: 150px 0;
}

/* border img */
/* with the help of border-image property an img can also be set as border */

.borderimg {
    border: 25px solid transparent;
    padding: 20px;
    border-image: url(star.png) 70 round;
}

/* multiple backgroungs */
/* background-size
background-origin
background-clip */

.multi-backgroung {
    background-image: url(sample.png), url(star.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    padding: 20px;
}


/* color keywords 1. transparent 2.currentcolor 3.inherit */
.transparent {
    border: 5px solid black;
    background-color: transparent;
}

.currentcolor {
    color: purple;
    border: 10px solid currentColor;
}

.inherit {
    color: blueviolet;
    border: 3px dotted blue;
}

.inherit-child {
    color: inherit;
    border: inherit;
}

/* gradient
2 to many colors can be used with gradient*/
/* linear-gradient: left,right,top,bottom. not necessary should be vorizontal of vertical, can be angled, also 360degree can be applied
repeated-linear-gradient is for repeating colors*/
.gradient {
    color: white;
}
.linear-gradient-default {
    height: 300px;
    width: 300px;
    background-image: linear-gradient(red, Yellow, green);
}

.linear-gradient-side {
    height: 300px;
    width: 300px;
    background-image: linear-gradient(to right, red, Yellow, green);
}

.linear-gradient-angel {
    height: 300px;
    width: 300px;
    background-image: linear-gradient(to bottom right, red, Yellow, green);
}

.linear-gradient-degree {
    height: 300px;
    width: 300px;
    background-image: linear-gradient(180deg, red, Yellow, green);
}

/* radial-gradeint define by its center
radial-gradient support amount of color in %
default radialGradient is ellipse, but can be set to circle 
redail-gradient also supports repeating feature*/
.radial-gradient {
    height: 300px;
    width: 300px;
    background-image: radial-gradient(red, Yellow);
}

/* conic-gradient
conic-gradient rotate around center in parifery
conic-gradient also support degree
conic-gradient with 50% border-radius to make the shape circular
conic-gradient dose not blend, so with :defined degree it looks like pie chart */
.conic-gradient {
    height: 300px;
    width: 300px;
    background-image: conic-gradient(red, Yellow);
}


/* shadow effect
default is black
two types: text shadow and box shadow */

/* text-shadow
first value is for :left
second one is for bottom
third one is for blur, when blur effect is set to 0, shadows are solid
forth one is for color name
minus value for first is right and minus of second value is top
multiple shadow values are separated with comma */
.text-shadow {
    text-shadow: 5px 5px 5px gray;
}

/* box shadow
unlike text-shadow the forth value for box shadow is spread, when minus decreces
after color name inset paramaeter indicate shadow inside the box */

.box-shadow {
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    box-shadow: 10px 10px 20px 15px red, -10px -10px 20px 15px blue;
}

.inset-shadow {
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    box-shadow: 10px 10px 20px 15px red inset;
}